<template>
  <v-app-bar
    app
    color="#AFE1AF"
    dark
  >
    <div class="d-inline align-center">
      <v-row>
        <v-col>
          <v-img
            alt="caleAI"
            class="ml-4"
            contain
            src="@/assets/logo.png"
            transition="scale-transition"
            width="24"
          />
        </v-col>
        <v-col>
          <v-toolbar-title class="green--text lighten-4--text ml-2">caleAI</v-toolbar-title>
        </v-col>
      </v-row>
    </div>
    <v-spacer></v-spacer>
      <v-btn text><v-list-item link to="/">home</v-list-item> |</v-btn>
      <v-btn text><v-list-item link  to="/ethics">ethics</v-list-item> |</v-btn>
      <v-btn text><a href="https://diyhslab.medium.com/">blog</a> |</v-btn>
      <v-btn text><a href="https://codeberg.org/cale">code</a></v-btn>
  </v-app-bar>
</template>

<script>
export default {
  name: 'MenuNavigation',
  data: () => ({
  })
}
</script>
