<template>
  <v-container grid-list-lg>
    <v-responsive class="d-flex align-top text-center fill-height">
      <v-row
        no-gutters
        id="fourlab"
      >
        <v-col
        >
          <v-card style="height: 60px;">
            <v-card-title>ETHICS</v-card-title>
          </v-card>
        </v-col>
      </v-row>
      <v-row
        no-gutters
        id="fourlab"
      >
        <v-col
        >
          <v-card style="min-height: 60px;">
            CALE AI is an open source project using evolionary computing software and privacy preseving techniques to enable decentralized machine learning.
          </v-card>
        </v-col>
      </v-row>
      <v-row
        no-gutters
        id="fourlab"
      >
        <v-col
        >
          <v-card style="min-height: 60px;">
            CALE is not very capable right now and goes throught testing before being offered for general use.  Each toolkit has a master switch to put CALE on or off.  We will provide more documenation and an audit trail of our testing before offering new services.
          </v-card>
        </v-col>
      </v-row>
    </v-responsive>
  </v-container>
</template>

<script>
export default {
  name: 'lab'
}
</script>

<style scoped>
</style>