<template>
    <v-container grid-list-lg>
        <v-responsive class="d-col align-top text-center fill-height">
            <v-row
        no-gutters
        id="learn"
      >
      <v-sheet xs12 class="text-h6 pa-2" color="green-lighten-4">PRIVACY</v-sheet>
      </v-row>
        <v-row row wrap>
            <v-col>
                <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0 font-weight-bold">Control - Sovereignty - Privacy</h3>
                        <div style="word-break: break-word" class="spacing-playground pa-3">
                        CALE AI is a personal AI and is under each peers control, sovereignty and privacy settings.
                        </div>
                    </div>
                </v-card-title>
                </v-card>
            </v-col>
        </v-row>
    </v-responsive>
    </v-container>
</template>

<script>
export default {
  name: 'HopUsecases'
}
</script>

<style scoped>
</style>
