<template>
  <v-container grid-list-lg>
    <v-responsive class="d-col align-top text-center fill-height">
      <v-row
        no-gutters
        id="learn"
      >
        <v-sheet class="text-h6 pa-2" color="green-lighten-4">Gaia Theory Peer to Peer</v-sheet>
      </v-row>
      <v-row
        no-gutters
        id="learn"
      >
          <v-col class="open-left">
            <v-img src="../assets/logo.png" max-width="400" class="left-perspective">
            </v-img>
            <v-card>
              <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0 font-weight-bold text-wrap">Build a bioregion</h3>
                </div>
              </v-card-title>
            </v-card>
          </v-col>
          <v-col  class="open-right">
            <v-carousel class="right-perspective">
              <v-carousel-item
                v-for="(item,i) in items"
                  :key="i"
                  :src="item.src"
                  cover
              >
                <v-row justify="center" class="middle-top">
                  <!-- <v-btn
                    color="orange"
                    x-large
                    elevation="12"
                    raised
                    @click="bboxMobile(item)"
                  >
                    {{ item.button.toolkit }}
                  </v-btn> -->
                  <v-btn
                    color="orange"
                    x-large
                    elevation="12"
                    raised
                    @click="bboxJoin(item)"
                  >
                    {{ item.button.mobile }}
                  </v-btn>
                </v-row>
              </v-carousel-item>
            </v-carousel>
          </v-col>
      </v-row>
    </v-responsive>
  </v-container>
</template>

<script>
import imgUrl from '../assets//bb-world-model.png'
import imgUrl2 from '../assets//bb-bioregion.png'
import imgUrl3 from '../assets//airquality-cs.png'
import imgUrl4 from '../assets//river-ml-simulation.png'

export default {
  name: 'CALE-learn',
  data: () => ({
    model: 0,
    items: [
      {
        src: imgUrl,
        button: { mobile: 'Download App soon', toolkit: 'Toolkit', bbox: 'climatemodel' }
      },
      {
        src: imgUrl2,
        button: { mobile: 'Download App Soon', toolkit: 'Toolkit', bbox: 'bioregion' }
      },
      {
        src: imgUrl3,
        button: { mobile: 'Download Soon', toolkit: 'Toolkit', bbox: 'airquality' }
      },
      {
        src: imgUrl4,
        button: { mobile: 'Download Soon', toolkit: 'Toolkit', bbox: 'riverflow' }
      }
    ]
  }),
  methods: {
    bboxMobile (select) {
      console.log('download mobile ')
      console.log(select)
      if (select.button.bbox === 'bioregion') {
        window.open('', '_self')
      } else if (select.button.bbox === 'airquality') {
        window.open('', '_self')
      } else if (select.button.bbox === 'riverflow') {
        window.open('', '_self')
      }
    },
    bboxJoin (select) {
      console.log('join click for ')
      console.log(select)
      if (select.button.bbox === 'bioregion') {
        window.open('https://bioregion.caleai.com', '_self')
      } else if (select.button.bbox === 'airquality') {
        window.open('https://bioregion.caleai.com', '_self')
      } else if (select.button.bbox === 'riverflow') {
        window.open('https://bioregion.caleai.com', '_self')
      }
    }
  }
}
</script>

<style scoped>
.open-left {
  margin-top: 3em;
  perspective: 1000px;
}

.left-perspective {
  transform: rotateY(14deg);
}

.open-right {
  perspective: 1000px;
  filter: drop-shadow(10px 20px 55px #B2DFDB);
}

.right-perspective {
  transform: rotateY(-14deg);
}

.middle-top {
  margin-top: 200px;
}
</style>
