<template>
  <v-container grid-list-lg>
    <v-responsive class="d-flex align-top text-center fill-height">
      <v-row
        no-gutters
        id="fourlab"
      >
        <v-col
        >
          <v-card style="height: 60px;">
            <v-card-title>Features</v-card-title>
          </v-card>
        </v-col>
      </v-row>
      <v-row
        no-gutters
        id="fourlab"
      >
        <v-col
        >
          <v-card style="min-height: 60px;">Coherence
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters justify="center">
        <v-col
          cols="12"
          sm="12"
          lg="12"
        >
          <v-sheet class="pa-2 ma-2 bg-green">
            <v-card style="height: 360px;">
              <v-card-title>BentoBoxDS</v-card-title>
              <div style="word-break: break-word" class="spacing-playground pa-3">
                Download a <a href="https://bentobox.healthscience.network/">graphical toolkit</a> to contribute data on a bioregion or particpate in understanding the analysis.
              </div>
            </v-card>
          </v-sheet>
        </v-col>
        <v-col
          cols="12"
          sm="12"
          lg="12"
        >
          <v-sheet class="pa-2 ma-2 bg-red">
            <v-card style="height: 360px;">
              <v-card-title>Visualisations</v-card-title>
              <div style="word-break: break-word" class="spacing-playground pa-3">
                The tools allow you to compare e.g. waterflow in different parts of a river, compare rainfall to flow to compare rivers regionally or across the world.
              </div>
            </v-card>
          </v-sheet>
        </v-col>
      </v-row>
      <v-row no-gutters justify="center">
        <v-col
          cols="12"
          sm="12"
          lg="12"
        >
          <v-sheet class="pa-2 ma-2 bg-pink">
            <v-card style="height: 360px;">
              <v-card-title>Goldilocks Simulations</v-card-title>
              <div style="word-break: break-word" class="spacing-playground pa-3">
                Earth is said to be in the habitable or goldilocks zone, not too cold or too hot but just right for life.  In the modern world, growth graphs are good to be heading top right and ideally in an exponential curve. Our simulation are based on goldilocks design thinking.
              </div>
            </v-card>
          </v-sheet>
        </v-col>
        <v-col
          cols="12"
          sm="12"
          lg="12"
        >
          <v-sheet class="pa-2 ma-2 bg-grey">
            <v-card style="height: 360px;">
              <v-card-title>caleAI</v-card-title>
              <div style="word-break: break-word" class="spacing-playground pa-3">
                Coming soon. A personal AI agent that performs evolutionary computing to help build models that better understand our climate and biodiversity.
              </div>
            </v-card> 
          </v-sheet>
        </v-col>
      </v-row>
    </v-responsive>
  </v-container>
</template>

<script>
import ToolkitDownload from '@/components/demoDownload.vue'

export default {
  name: 'CaleFeatures',
  components: {
    ToolkitDownload
  }
}
</script>

<style scoped>
</style>
