<template>
  <v-container grid-list-lg>
    <v-row
        no-gutters
        id="learn"
      >
      <v-sheet class="text-h6 pa-2" color="green-lighten-4">GAIA THEORY</v-sheet>
      </v-row>
      <v-row
        no-gutters
        id="learn"
      >
      <v-sheet class="rounded-lx">
        <h6 class="text-center mt-4 text-h6 green">evolving @all scales</h6>
        In the 1970's <a href="https://en.wikipedia.org/wiki/Gaia_hypothesis">Gaia Theory</a> was put forward by <a href="https://en.wikipedia.org/wiki/James_Lovelock">James Lovelock</a>. A theory that postulates earth is a self regulating system.  To demonstrate this Lovelock and collaborators built a black and white daisy planet - star(sun) simulation known as <a href="https://en.wikipedia.org/wiki/Daisyworld">daisy world</a>.  The original model has been built upon and the mission of this project is to produce a 21 centuary update to the simulation peer to peer and use this as a basis to model gaia in real time peer to peer.
        </v-sheet>
    </v-row>
    <v-row no-gutters>
      <v-spacer />
      <v-col
        cols="1"
        sm="1"
        md="1"
      >
        <v-card
          class="pa-0"
          outlined
          color="transparent"
        >
          <v-img src="../assets/logo.png" width="80px" center>
          </v-img>
        </v-card>
      </v-col>
      <v-spacer />
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'HopProtocol',
  data: () => ({
  }),
  mounted () {
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
